/*
[1] global variables
[2] global styles
[3] ...
*/

/* //////////////////////////////////////////////////// */
/* ///////////////// GLOBAL VARIABLES \\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////////////// */
:root {
  --gFont: Helvetica, Arial, sans-serif;
  --gFontSize: 1.35vw;
  --gFontWeight: bold;
  --gBgColor: rgb(29, 29, 29);
  --gTextColor: rgb(189, 189, 189);
  --gTextColorHover: orange;
  --gColorTransition: 0.8s;

  --gMargin: 0rem;
  --gPadding: 2rem;
}

/* //////////////////////////////////////////////////// */
/* ///////////////// GLOBAL STYLES \\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////////////// */
.default-page {
  background-color: var(--gBgColor);
  color: var(--gTextColor);
  font-family: var(--gFont);
  font-weight: var(--gFontWeight);
  font-size: var(--gFontSize);

  margin: var(--gMargin);
  padding: var(--gPadding);
}

/* #################### LINKS ######################## */
.default-link {
  color: var(--gTextColor);
  transition: color var(--gColorTransition);
  text-decoration: none;
}

.default-link:visited {
  color: var(--gTextColor);
}

.default-link:hover {
  color: var(--gTextColorHover);
  transition: color var(--gColorTransition);
}

/* //////////////////////////////////////////////////// */
/* ////////////////////// Posts \\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////////////// */

/*need to do grid within grids?*/
/* first make a static grid for the featured image and title */
/* /. then dynamic grid for the full list*/

.all-posts-container {
  /* ////need to use flex box, elsewise it doesnt render properly on mobile it seems...
  
  
  display: flex;
  flex-wrap: wrap-reverse; */
  display: grid;
  grid-template-columns: 33% 33% auto;
  gap: 2rem;
}

.all-posts-sub-container {
  display: grid;
  gap: 0.5rem;
}

/*===================  TEMPORARY ===========================*/
.container-color-helper {
  background-color: teal;
}

.grid-test {
  display: grid;
  grid-template-columns: auto;
}

.grid-test2 {
  display: grid;
  grid-template-columns: 33% auto 33%;
  gap: 2rem;
}
